<form [formGroup]="search">
  <label for="author">Author</label>
  <input id="author" formControlName="author" />
  <br />
  <label for="title">Title</label>
  <input id="title" formControlName="title" />
</form>

<pre>Value: {{ search.value | json }}</pre>
<pre>Valid: {{ search.valid }}</pre>
<pre>Author Valid: {{ search.get('author')?.valid }}</pre>
